 <%= form_for(Patient.new) do |form| %><!--creating a new patient-->
   <% if Patient.new.errors.any? %><!--any errors-->
    <div id="error_explanation">
      <h2><%= pluralize(Patient.new.errors.count, "error") %> prohibited this patient from being saved:</h2>
      <ul>
        <% Patient.new.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %> <!--end of if statement-->
  
  <div class="container">
  	<div class="index-form">
	  	<div class="jumbotron">
		  <!-- a new patient with the following fields-->
          <div class="field">
            <%= form.label :firstname %>
            <%= form.text_field :fname, required: true, id: :patient_fname,  autocomplete: "fname", class: "form-control", placeholder: "Enter firstname"%>
          </div>
        
          <div class="field">
            <%= form.label :surname %>
            <%= form.text_field :sname, required: true, id: :patient_lname, class: "form-control", placeholder: "Enter surname" %>
          </div>
        
          <div class="field">
            <%= form.label :dob %><br>
            <%= form.date_select :dob, required: true, :start_year=>1900, :end_year=>2018, id: :patient_dob, class: "form-control" %>
          </div>
        
          <div class="field">
            <%= form.label :address %>
            <%= form.text_area :address, required: true, id: :patient_address, class: "form-control", placeholder: "Enter address" %>
          </div>
        
          <div class="field">
            <%= form.label :phone_no %>
            <%= form.number_field :phone_no, minlength: 2 , maxlength: 10 , required: true, placeholder: "Enter mobile(+353)", id: :patient_phone, class: "form-control" %>
          </div>
        
          <div class="field">
            <%= form.label :infection %>
            <%= form.text_field :infection, required: true, class: "form-control", placeholder: "Enter infection" %>
          </div>
        
          <div class="field">
            <%= form.label :injury %>
            <%= form.text_field :injury, required: true, id: :patient_injury, class: "form-control", placeholder: "Enter injury" %>
          </div>
        
          <div class="field">
            <%= form.label :observations %>
            <%= form.text_area :observations, required: true, id: :patient_observations, class: "form-control", placeholder: "Enter any observations"  %>
          </div>
          
           <div class="field">
            <%= form.label :visited %></br>
            <%= form.date_select :visited, required: true, :start_year=>1900, :end_year=>2018, id: :patient_visited, class: "form-control" %> 
          </div>
         
          <div class="field">
            <%= form.label :next_apt %></br>
            <%= form.date_select :next_apt, required: true, :start_year=>1900, :end_year=>2018, id: :patient_next_apt, class: "form-control" %>
          </div>
         
          <div class="field">
            <%= form.label :condition %></br>
            <%= select_tag(:condition_id, options_for_select(@presenter.conditions) , :prompt => "Select Condition")%>
          </div></br>
          
          <div class="actions">
            <%= form.submit "save" %>
          </div>
      </div>
   </div>

  </div>
  <%end%>
  

